PORT=3000

# POST al sitio destino cuando el acceso es concedido
GEOSTOP_POST_PARAM=geostop
GEOSTOP_POST_VALUE=true

# Zona 1 → site1.com
ZONE_1_NAME=Buenos Aires
ZONE_1_LAT=-34.6037
ZONE_1_LNG=-58.3816
ZONE_1_RADIUS=300
ZONE_1_URL=https://sector7gp.com/geo/rosario.php

# Zona 2 → site2.com
ZONE_2_NAME=Madrid
ZONE_2_LAT=40.4155
ZONE_2_LNG=-3.7074
ZONE_2_RADIUS=300
ZONE_2_URL=https://site2.com

# Agrega más zonas con ZONE_3_*, ZONE_4_*, etc.
